@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap);

/* VARIABLE CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr-gray: #807e75;
  --clr-left: #434342;

  /* Font & typography */
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-small: 0.875rem;
  --fs-smaller: 0.813rem;

  /* Font weight */
  --fw-reg: 300;
  --fw-bold: 900;

  /* z index  */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
}

/* DARK/LIGHT MODE  */
body.dark-theme {
  --clr-light: #303030;
  --clr-dark: #fff;
  --clr-accent: #16e0bd;
  --clr-gray: #807e75;
  --clr-left: #434342;
  --clr-white: #fff;
}

/* General styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0 0 var(--header-height) 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--fs-h2);
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
  margin-top: var(--mb-3);
}

/* LAYOUT */
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--clr-light);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* DARK/LIGHT MODE  */

.change-theme {
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--clr-dark);
  font-size: 1.2rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--clr-accent);
}

/* NAV  */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--clr-light);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
  }
}

.nav__logo,
.nav__toggle {
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item {
  text-align: center;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-smaller);
  color: var(--clr-dark);
  font-weight: var(--fw-reg);
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav__icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

.show-menu {
  bottom: var(--header-height);
}

.activate-link {
  color: var(--clr-accent);
}

/* HOME */
.home {
  position: relative;
}

.home__container {
  gap: 3rem;
}

.home__data {
  gap: 0.5rem;
  text-align: center;
}

.home__img {
  width: 120px;
  height: 180px;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.home__title {
  font-size: var(--fs-h2);
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}

.home__profession {
  font-size: var(--fs-h3);
  margin-bottom: var(--mb-1);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.home__rqth {
  font-size: var(--fs-h3);
  margin-bottom: var(--mb-1);
  color: var(--clr-white);
}

.home__button {
  display: inline-block;
  border: 2px solid var(--clr-dark);
  color: var(--clr-accent);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: var(--fw-bold);
  margin-top: var(--mb-3);
}

.home__button:hover {
  background-color: var(--clr-dark);
  color: var(--clr-accent);
}

/* CONTACT */
.contact {
  position: relative;
}
.contact__container {
  gap: 1.2rem;
}
.contact__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.contact__link {
  color: var(--clr-white);
}

.contact__link:hover {
  color: var(--clr-accent);
}

.fa-phone-square-alt {
  color: #037f04;
}

.fa-envelope-square {
  color: #0072c6;
}

.fa-linkedin {
  color: #006192;
}

/* LANGUES */
.langues__data {
  color: var(--clr-white);
}

/* COMPETENCES  */
.competences {
  position: relative;
}

.competences__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.competences__link {
  color: var(--clr-white);
}

.competences__icon {
  margin-right: 0.25rem;
}

.fa-html5 {
  color: #f06529;
}

.fa-css3-alt {
  color: #2565ae;
}

.fa-js-square {
  color: #fdc72e;
}

.fa-sass {
  color: #cd6799;
}

.softskills__container {
  gap: 1.5rem;
  margin-top: 3rem;
}

.softskills__icon {
  color: var(--clr-accent);
  margin-right: 0.25rem;
}

/* RIGHT SIDE  */

.section-title__sub {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.projets__info {
  font-size: var(--fs-small);
}

.url {
  color: var(--clr-gray);
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
}

/* PROJETS WEB  */
.web-projects__content {
  display: flex;
}

.web-projects__direction {
  padding-right: 1rem;
}

.web-projects__dot {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--clr-gray);
  border-radius: 50%;
  margin-top: 0.5rem;
}

.web-projects__line {
  display: block;
  width: 2px;
  height: 130%;
  background-color: var(--clr-gray);
  transform: translate(7px, 0);
}

/* FORMATION  */
.formation__content {
  display: flex;
}

.formation__direction {
  padding-right: 1rem;
}

.formation__dot {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--clr-gray);
  border-radius: 50%;
  margin-top: 0.5rem;
}

.formation__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--clr-gray);
  transform: translate(7px, 0);
}

/* EXPERIENCE  */
.experience__content {
  display: flex;
}

.experience__direction {
  padding-right: 1rem;
}

.experience__dot {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--clr-gray);
  border-radius: 50%;
  margin-top: 0.5rem;
}

.experience__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--clr-gray);
  transform: translate(7px, 0);
}

/* LOISIRS */
.loisirs {
  position: relative;
}

.loisirs__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.loisirs__icon {
  margin-right: 0.25rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}

@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }

  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .l-header {
    display: none;
  }

  .cv {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--clr-light);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }

  .cv-left {
    background-color: var(--clr-left);
    color: var(--clr-light);
  }

  .contact__icon {
    background-color: var(--clr-light);
  }

  .contact__link {
    color: var(--clr-white);
  }

  .cv-left,
  .cv-right {
    padding: 0 1.5rem;
  }

  .section-title {
    text-align: initial;
  }

  .home__container {
    gap: 1.5rem;
  }

  .home__button {
    display: none;
  }

  .change-theme {
    color: var(--clr-light);
  }
}
